In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv") # read_csv reads a .csv file(like xl file)

In [3]:
df.iloc[49]

sepal_length       5.0
sepal_width        3.3
petal_length       1.4
petal_width        0.2
species         setosa
Name: 49, dtype: object

In [16]:
new_iris = df.iloc[49:60: 2] # jai ajouter le deux pour passer de deux en deux

In [18]:
new_iris[['species', 'petal_length', 'petal_width']]
new_iris

    sepal_length  sepal_width  petal_length  petal_width     species
49           5.0          3.3           1.4          0.2      setosa
51           6.4          3.2           4.5          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
55           5.7          2.8           4.5          1.3  versicolor
57           4.9          2.4           3.3          1.0  versicolor
59           5.2          2.7           3.9          1.4  versicolor

    sepal_length  sepal_width  petal_length  petal_width     species
49           5.0          3.3           1.4          0.2      setosa
51           6.4          3.2           4.5          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
55           5.7          2.8           4.5          1.3  versicolor
57           4.9          2.4           3.3          1.0  versicolor
59           5.2          2.7           3.9          1.4  versicolor

In [11]:
df.groupby(['species']).sum()['sepal_length']

species
setosa        250.3
versicolor    296.8
virginica     329.4
Name: sepal_length, dtype: float64

In [12]:
df.groupby(['species']).median()['sepal_length']

species
setosa        5.0
versicolor    5.9
virginica     6.5
Name: sepal_length, dtype: float64